@import url(http://fonts.googleapis.com/css?family=Inder);

body {
    font-family: Inder, Arial, Helvetica, sans-serif;
    background-color: #F0F2F5;
}

body > section,
footer {
    padding: 15px;
}