@charset 'UTF-8';

@import "compass/css3";
@import "compass/css3/transform";

@import url(http://fonts.googleapis.com/css?family=Inder);

body {
  font-family: Inder, Arial, Helvetica, sans-serif;
  background-color: #F0F2F5;
}

div.picker {
  width: 20rem;
  color: #34495e;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 4px;
  overflow: hidden;
  @include box-shadow(0 -4px 0 rgba(0, 0, 0, 0.15) inset, 0 4px 0 rgba(0, 0, 0, 0.12));

  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  *:focus {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: none;
  }
  
  a, span {
    color: #A4AEB9;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }

  div:after {
    content: "";
    display: block;
    clear: both;
  }

  div.header {
    position: relative;
    font-size: 1.5em;
    height: 2em;
    line-height: 2em;
    border-bottom: 4px solid #5BA0D0;
    background-color: #4FC1E9;

    a {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      text-align: center;
      color: #fff;

      &.next, &.prev {
        width: 2em;
      }

      &.next {
        right: 0;

        &:after {
          content: ">";
        }
      }

      &.prev {
        left: 0;

        &:before {
          content: "<";
        }
      }

      &.current {
        right: 2em;
        left: 2em;
      }
    }
  }

  div.body {
    position: relative;
    height: 15rem;
    color: #A4AEB9;
    background-color: #fff;

    div.week {
      color: #4FC1E9;
      background-color: #F6F8FA;

      span {
        line-height: 2em;
        width: calc(100% / 7);
      }
    }

    div.month {
      a, span {
        line-height: calc(13em / 6);
        width: calc(100% / 7);
      }
    }

    .current {
      color: #4FC1E9;
    }

    a, span {
      @include box-sizing(border-box);
      display: block;
      float: left;
      text-align: center;
    }

    [data-year], [data-month] {
      width: 25%;
      line-height: 5em;
    }
  }
}