@charset 'UTF-8';

@import "compass/css3";
@import "compass/css3/transform";

@import url(http://fonts.googleapis.com/css?family=Inder);

div.picker {
  width: 20em;
  font-family: Inder, Arial, Helvetica, sans-serif;
  color: #34495e;

  a {
    text-decoration: none;
  }

  div:after {
    content: "";
    display: block;
    clear: both;
  }

  div.header {
    position: relative;
    height: 2em;
    line-height: 2em;
    margin: 0 0 .5em 0;

    a {
      display: block;
      position: absolute;
      top: 0;
      text-align: center;

      &.next, &.prev {
        width: 0;
        border: 1em solid transparent;
      }

      &.next {
        right: 0;
        border-left-color: #5BA0D0;
      }

      &.prev {
        left: 0;
        border-right-color: #5BA0D0;
      }

      &.current {
        bottom: 0;
        right: 2em;
        left: 2em;
      }
    }
  }

  div.body {

    .current {
      color: #fff;
      background-color: #5BA0D0;
    }

    a, span {
      @include box-sizing(border-box);
      display: block;
      float: left;
      text-align: right;
      vertical-align: bottom;
    }

    [data-year], [data-month] {
      width: 5em;
      height: 5em;
      padding: 3.5em .5em 0 0;
    }
  }
}